date doesn't support timezones

Serializable._date() returns a date string with a hard-coded 'GMT' timezone representation regardless of the actual timezone of the datetime object.

Neither the RSS 2.0 Specification nor the RFC 2822 (section 5.1 SYNTAX) require a GMT/UTC value for the datetime, just that it follow the specified format.

I would suggest that instead of blindly returning 'GMT' for the timezone, either use the tzname() of the timezone aware datetime object and default to 'UTC' if it returns None, or convert any timezone aware datetime objects to UTC and then return the new value + 'UTC' as the timezone value.


The current code is 

https://github.com/svpino/rfeed/blob/a4ccbcb40eb86d5a4bda26b4f49c3921b39be26e/rfeed.py#L37-L56

It seems like one could do something with a datetime's tzinfo from https://docs.python.org/2.7/library/datetime.html or https://docs.python.org/3/library/datetime.html#datetime-objects

I'm for convert (or assume if naive) the input time to GMT, and use that in the feed.
